  <%- include('./base/header.ejs')%>    
   <%- include('./base/nav.ejs')%> 
   <div class="container">
        <div class="alert text-center bg-primary my-3" style="color: white;">
            <h4>Edit Student</h4>
        </div>
    </div>
     <div class="container">
        <div class="row">
        <div class="col"></div>
        <div class="col">       
           <form action="/edit/student/<%=student._id%>" method="post">

             <div>
                <label class="form-label">Roll no.</label>
                <input type="text" class="form-control" name="rollNo" value="<%= student.rollNo %>">
              </div>  

               <div>
                <label class="form-label">Student Name</label>
                <input type="text" class="form-control" name="studentName" value="<%= student.studentName %>">
              </div> 
               
              <div>
                <label class="form-label">Father Name</label>
                <input type="text" class="form-control" name="fatherName" value="<%= student.fatherName %>">
              </div>  

               <div>
                <label class="form-label">Course</label>
                <input type="text" class="form-control" name="course" value="<%= student.course %>">
              </div>
              
                <div>
                <label class="form-label">Branch</label>
                <input type="text" class="form-control" name="branch" value="<%=student.branch%>">
              </div>
     

               <div>
                <label class="form-label">Year  of Admission</label>
                <input type="text" class="form-control" name="yearOfAdmission" value="<%= student.yearOfAdmission%>">
              </div>
              
              <div>
                <label class="form-label" value="<%= student.studentImage %>">Student Picture</label>
                <input type="file"><img src="<%= student.studentImage %>" width="50px" height="50px">
              </div>
              <input type="submit" value="Edit Student" class="btn btn-info w-100 my-3">
  
           </form> 
        </div>
        <div class="col"></div>


        </div>

    </div>
    
    <%- include('./base/footer.ejs')%>