<%- include('./base/header.ejs') %>
<%- include('./base/nav.ejs') %>
    <div class="container">
        <div class="card shadow-lg rounded-3">
        <div class="card-header bg-success text-white text-center">
          <h5><b>Student List</b></h5>
        </div>
    </div>
    </div>
    <div class="container">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Student Picture</th>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Father's Name</th>
                    <th>Mother's Name</th>
                    <th>Course</th>
                    <th>Branch</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% students.forEach((student)=>{ %>
                    <tr>
                        <td><img src="<%= student.studentImage %>" width="50px" height="50px"></td>
                        <td><%= student.rollNo %></td>
                        <td><%= student.studentName %></td>
                        <td><%= student.fatherName %></td>
                        <td><%= student.motherName %></td>
                        <td><%= student.course %></td>
                        <td><%= student.branch %></td>
                        <td>
                            <a href="/edit/student/page/<%=student._id%>" class="btn btn-default " ><i class="ri-edit-line" style="color: black; width: 500px; height: 500px;" ></i></a>
                            <a href="/delete/student/<%= student._id%>" class="btn btn-default" ><i class="ri-delete-bin-6-fill" style="color: black; font-size: 10px; "></i></a>
                        </td>
                    </tr>
               <% }) %>
            </tbody>
        </table>
    </div>


<%- include('./base/footer.ejs') %>